<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> {{session.username}}</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="/static/styles.css" type="text/css">
</head>
<body>
	<div class="container-fluid">
		<div class="row extra-margin">
			<div class="col-md-4">
				<div class="text-center">
				<img src="https://placehold.co/300x150">
				<h2>{{session.username}}</h2>

				<a class="btn btn-primary btn-xs" href="#" role="Button">Facebook</a>
				<a class="btn btn-primary btn-xs" href="#" role="Button">Twitter</a>
				<a class="btn btn-primary btn-xs" href="#" role="Button">Instagram</a>
				<a class="btn btn-primary btn-xs" href="#" role="Button">Gmail</a>
			</div>
			</div>
			<div class="col-md-8">
				<p class="lead extra-margin">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque varius urna porttitor ligula ornare consectetur. Curabitur id euismod eros. Phasellus vitae eleifend odio. Aenean scelerisque felis in lorem viverra, vel bibendum orci maximus. In auctor nibh vitae risus eleifend, ac euismod purus varius. Integer tristique ligula vitae augue maximus, quis fringilla urna mollis. Vivamus auctor porta metus, sed facilisis sapien congue nec. Etiam ex risus, eleifend pulvinar arcu in, rutrum condimentum nisl. Suspendisse vestibulum pellentesque dui, at lacinia urna consequat ac. Vivamus eleifend lacus justo, quis lobortis diam vestibulum sit amet.
				</p>
			</div>
		</div>
	</div>
</body>
</html>